

doctype html
html
   head(lang="en")
      meta(charset="UTF-8")
      meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      title Awsome Project
      link(href="/css/app.bundle.css" rel="stylesheet")
      link(href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet")
      
   body
      #root
      script(src='/lib/jquery/dist/jquery.min.js')
      script(src='/lib/framework7/dist/js/framework7.min.js')
      script(src='/js/app.bundle.js')
