.page(data-page='#{pageName}' data-id='#{id}')
  .navbar
    .navbar-inner
      .left
        a.link.back.icon-only(href='#')
          i.icon.icon-back
      .center #{title}
  .page-content(id='#{pageName}')
